*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color:#01aae4;
    background-image:url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 850 1000" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" overflow="auto" shape-rendering="auto" fill="%23ffffff"><path id="wavepath" d="M 0 1000 -80 800 Q 90 350 400 600 t 500 -100 400 0 v1000 z" /></svg>');
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url("../_images/BG.png");
    opacity: 0.1;
    background-size: cover; 
    background-position: center;
    position: absolute;
}
header{
    position: relative;
    width:100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.navbar{
    padding: 10px 80px 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;  
}
.logo {
   width: 300px;
}
.logotext{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logotext h2{
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
}
.links{
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 7%;
    gap: 20px;
    top: 22px;
}
.login-btn{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    width: 70px;
    height: 25px;
}
.login-btn:hover{
    transition: 0.1s ease;
    transform:scale(1.05);
}
.signup-btn{
    display:flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    border: 2px solid;
    border-color: #fff;
    border-radius: 3px;
    width: 70px;
    height: 25px;
}
.signup-btn:hover{
    color:#01aae4;
    background: white;
    transition: 0.1s ease;
    transform:scale(1.05);
}
.profile{
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 7%;
    gap: 20px;
    top: 10px;
    width: 40px;
    max-height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 7%;
    width:320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    z-index: 2;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background:#fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 50px;
    max-height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link i{
    text-align: center;
    width: 40px;
    background: rgb(243, 241, 241);
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link:hover p{
    font-weight: 600;
}
main{
    display: flex;
    position: relative;
    padding: 10px 80px 10px 80px;
    top:100px;
    gap: 50px;
}
.info{
    margin-left: 20px;
    max-width: 500px;
    text-align: left;
    font-size: 1.8rem;
    font-weight:bold;
    color: white;
}
.box1{
    font-size: 1em;
    width: 350px;
    min-height: 150px;
    padding: 20px;
    border-radius: 20px;
    background-color:#fff;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main h4{
    text-align: left;
    font-size: 1.125rem;
    margin-bottom: 5px; 
}
.box2{
    font-size: 1em;
    width: 350px;
    min-height: 150px;
    padding: 20px;
    border-radius: 20px;
    background-color:#fff;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main button{
    min-width: 100px;
    height: 25px;
    position: absolute;
    bottom: -8%;
    right: 10%;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    background-color: #F7D587;
    border: 2px solid;
    border-color: #F1BC3F;
    border-radius: 5px;
}
main a{
    text-decoration: none;
    color: black;
}
main button:hover{
    background-color: #F2BE45;
}